HRMSIntegrationProject/Resources/CreateOrUpdateEmpData.wsdl

<wsdl:definitions name="CreateOrUpdateEmpData" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/osb/HRMSIntegrationProject/CreateOrUpdateEmpData" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/osb/HRMSIntegrationProject/CreateOrUpdateEmpData" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/CreateOrUpdateEmpData" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="CreateOrUpdateEmpData_plt">
    <plt:role name="CreateOrUpdateEmpData_role">
      <plt:portType name="tns:CreateOrUpdateEmpData_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CreateOrUpdateEmpData" schemaLocation="CreateOrUpdateEmpData_table.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="CreateOrUpdateEmpDataSelect_inputParameters">
        <wsdl:part name="CreateOrUpdateEmpDataSelect_inputParameters" element="top:CreateOrUpdateEmpDataSelect_EmpIdInputParameters"/>
    </wsdl:message>
    <wsdl:message name="EmpDataCollection_msg">
        <wsdl:part name="EmpDataCollection" element="top:EmpDataCollection"/>
    </wsdl:message>
    <wsdl:portType name="CreateOrUpdateEmpData_ptt">
        <wsdl:operation name="insert">
            <wsdl:input message="tns:EmpDataCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:EmpDataCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="CreateOrUpdateEmpDataSelect">
            <wsdl:input message="tns:CreateOrUpdateEmpDataSelect_inputParameters"/>
            <wsdl:output message="tns:EmpDataCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>