HRMSIntegrationProject/Resources/SelectOrUpdateStudentAdmissionInfoBS.wsdl

<wsdl:definitions
     name="SelectOrUpdateStudentAdmissionInfoBS"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ServiceBusApplicationgit/HRMSIntegrationProject/SelectOrUpdateStudentAdmissionInfoBS"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/ServiceBusApplicationgit/HRMSIntegrationProject/SelectOrUpdateStudentAdmissionInfoBS"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/SelectOrUpdateStudentAdmissionInfoBS"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="SelectOrUpdateStudentAdmissionInfoBS_plt" >
    <plt:role name="SelectOrUpdateStudentAdmissionInfoBS_role" >
      <plt:portType name="tns:SelectOrUpdateStudentAdmissionInfoBS_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/SelectOrUpdateStudentAdmissionInfoBS" schemaLocation="SelectOrUpdateStudentAdmissionInfoBS_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="SelectOrUpdateStudentAdmissionInfoBSSelect_inputParameters">
        <wsdl:part name="SelectOrUpdateStudentAdmissionInfoBSSelect_inputParameters" element="top:SelectOrUpdateStudentAdmissionInfoBSSelect_StuId_StuNameInputParameters"/>
    </wsdl:message>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:StudentsAdmissionInfoPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="StudentsAdmissionInfo_msg">
        <wsdl:part name="StudentsAdmissionInfo" element="top:StudentsAdmissionInfo"/>
    </wsdl:message>
    <wsdl:message name="StudentsAdmissionInfoCollection_msg">
        <wsdl:part name="StudentsAdmissionInfoCollection" element="top:StudentsAdmissionInfoCollection"/>
    </wsdl:message>
    <wsdl:portType name="SelectOrUpdateStudentAdmissionInfoBS_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:StudentsAdmissionInfoCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="insert">
            <wsdl:input message="tns:StudentsAdmissionInfoCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:StudentsAdmissionInfoCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="tns:StudentsAdmissionInfoCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="SelectOrUpdateStudentAdmissionInfoBSSelect">
            <wsdl:input message="tns:SelectOrUpdateStudentAdmissionInfoBSSelect_inputParameters"/>
            <wsdl:output message="tns:StudentsAdmissionInfoCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:StudentsAdmissionInfoCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="queryByExample">
            <wsdl:input message="tns:StudentsAdmissionInfo_msg"/>
            <wsdl:output message="tns:StudentsAdmissionInfoCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
